
.classpath

.project

bin

.gradlew

eclipse

*.txt

#MacOS X
.DS_Store

.settings/org.eclipse.jdt.core.prefs

.gradle/
.idea/
.nb-gradle/
.nb-gradle-properties
.settings/
bin/
build/
eclipse/
private/
push/
run/
out/


.classpath
.project

*.iml
*.ipr
*.iws
gradle-app.setting
